models/
data/*
__pycache__/
**/checkpoints/
result/
envs/curobo
*.zip
viewer_show.*
eval_video/
task_config/

# eval result
eval_result/

# Code Generation
assets/*
!assets/_download.py
!assets/files

policy/weights/*

envs/curobo/*

.vscode
/config.json

/*.json*
/*.txt
*.hdf5

policy/TinyVLA/model_param
policy/TinyVLA/unet_diffusion_policy_results
policy/TinyVLA/TinyVLA-v2/unet_diffusion_policy_results

*.pyc

policy/TinyVLA/policy_heads/policy_heads.egg-info